# Introdução ao Python3

Este é o primeiro tutorial sobre Python.

Assim, o primeiro passa é entender como funcionam os jupyter notebooks que vamos utilizar ao longo deste conjunto de tutoriais.

Os jupyter notebooks permitem a escrita de texto num formato designado de markdown e a escrita de código que se pode exectuar e cujos resultados são visionados na célula seguinte à introdução do código.

Para escrever  texto/código deverá inserir células recorrendo ao comando da barra de botões "Insert cell bellow". 

Por omissão as células inseridas são do tipo código (**Code**). Caso queira alterar o seu tipo para texto deverá aceder ao tipo de célula e alterar para **Markdown**.

Para correr o código que escreveu numa célula do tipo **Code** tem duas opções, carregar simultanemaente nas teclas shift+Enter ou utilizar o comando da barra de botões "Run the selected cells in advance". Vamos experimentar de seguida correr o nosso primeiro programa.

São um ótimo instrumento de aprendizagem e de transmissão de trabalho a colegas com quem estejamos a trabalhar pois permite não só transmitir o texto/relatório sobre o mesmo como os resultados obtidos.

## Primeiro programa - Hello World

Na célula seguinte vemos o exemplo típico que é a escrita no ecrã da frase "Hello World!" com a instrução print.

Par correr o código escrito na célula de código deverá utilizar uma das opções acima descritas.

In [4]:
print("Hello world")

Hello world

## Matemática

À semelhança de outras linguagens o Python realiza operações matemáticas.

De seguida apresentam-se alguns exemplos que pode experimentar.

Se quiser correr outros basta adicionar novas células.

In [2]:
1+1

2

In [7]:
2.5 * 2

5.0

In [41]:
9/2

4.5

In [42]:
9//2

4

## Tipos de dados

Em Python tudo são objetos e todos os objetos são de um determinado tipo.

O Python trabalha com os seguintes tipos de dados básicos: int (números inteiros), float (números reais), str (texto), bool (booleanos - verdaeiro (true) ou falso (false)) e NoneType (tipo especial que representa a situação sem valor)

Em Python não é preciso declarar de forma explicita o tipo de dados, ele próprio deduz a partir da utilização que lhe estamos a dar (Duck Typing). Em casos de desambiguação é necessário indicar o tipo de dados.

## Operadores

Os operadores são símbolos especiais que representam a execução de operações sobre os operandos associados.

No Python temos os seguintes operadores:
* Operadores aritémticos: +, -, *, /, ** (expoente)
* Atribuição: =, +=, -=, *=
* Comparação (devolve true/false): ==, !=, <, <=, >, >=
* Outros para comparação: is, is not, in, not in,  not, and, or, lambda

### Precedência de operadores

Quando são utilizados múltiplos operadores em expressões é preciso ter em conta na sua utilização a precedência dos mesmos:
* (, )
* \*\*
* *, /
* +, -
* <, <=, >, >=
* ==, !=, is, is not, in
* not in
* not
* and
* or
* lambda

Em caso de dúvida utilize os parentesis ( ).

## Variáveis

Um variável é um espaço em memória que é utilizado para guardar valores de um determinado tipo de dados (que podem ser referências a objetos) para serem utilizadas ao longo do programa.

De seguida mostram-se alguns exemplos de utilização de variáveis e operadores em expressões.

In [26]:
#Atribuicao de valores a variaveis
num1 = 10
num2 = -5
num3 = 2.0
num4 = -.8

In [14]:
num1+num2

24

In [15]:
num2-num3

-8.0

In [16]:
num2*num3

-12.0

In [17]:
num2**num3

36.0

In [20]:
num2-=1
num2

-8

In [21]:
num1*=3
num1

270

In [24]:
#Corra outra vez as instrucoes anteriores e comente
num1*=3
num1

810

In [27]:
#Para este exercicio volte a correr a celula que define os valores das variaveis
num1<num2

False

In [28]:
#Em Python e possível comparar mais que um valor
5 > 3 > 1

True

In [29]:
5 > 3 < 4 == 3 + 1

True

In [36]:
1 is 1

True

In [37]:
1 is not 1

False

In [44]:
True and False

False

In [32]:
str1 = "Bom dia"
str2 = 'Antonio'
str3 = str1 + " " + str2
str3

'Bom dia Antonio'

In [34]:
#Multiplicacao de strings
str4 = 'Antonio '
str4*4

'Antonio Antonio Antonio Antonio '

### Exercicios

1. Escreva um programa que converta USD para EUR;
2. Escreva um programa que converta m/s em km/h;
3. Escreva um programa que converta a tempretura em graus Fahrnheit para graus Celsius (C=5/9x(F-32));
4. Escreva um programa que calcule a distância Euclidiana entre dois pontos ![P1=(x1,y1)](https://latex.codecogs.com/svg.latex?P_1%3D%5Cleft%20%28%20x_1%2C%20y_1%20%5Cright%20%29) e 
![P2=(x2,y2)](https://latex.codecogs.com/svg.latex?P_2%3D%5Cleft%20%28%20x_2%2C%20y_2%20%5Cright%20%29), ![D=RAIZQUADRADA((x1-y1)^2+(x2-y2)^2)](https://latex.codecogs.com/svg.latex?D%3D%5Csqrt%7B%5Cleft%28x_1-x_2%5Cright%29%5E2%2B%5Cleft%28y_1%2By_2%5Cright%29%5E2%7D)

In [ ]:
#Crie aqui os seus exercios
#Pode inserir uma celula para cada um

## Estruturas de dados disponíveis no Python3

As estrutras de dados em Python podem ser de dois tipos, mutáveis ou imutáveis.

O Python3 tem disponível as seguintes estruturas de dados:
* Lista (list) - lista de elementos indexados por inteiros, os elementos são guardados pela ordem de inserção, mutável;
* Tuplo (tuple) - lista de elementos indexados por inteiros, os elementos são guardados pela ordem de inserção, imutável;
* Dicionário (dict) - coleção de elementos do tipo chave-valor, os elementos não são guardados pela ordem de inserção, chave imutáveis, valores mutáveis;
* Texto/Strings (str) - lista de caracteres indexados por inteiros, os lementos são guardados pela ordem de inserção, imutável;
* Conjunto (set) - coleção de elementos não indexados, os elementos não são guardados pela ordem de inserção, imutável.

De seguida apresentam-se alguns exemplos de utilização.

In [45]:
list1 = [3, 5, 6, 3, 'cao', 'gato', False]
tuple1 = (3, 5, 6, 3, 'cao', 'gato', False)
set1 = {3, 5, 6, 3, 'cao', 'gato', False}
dict1 = {'nome': 'Andre', 'idade': 9, 'comidas_favoritas': ['pizza', 'fruta', 'lasanha']}

In [46]:
list1

[3, 5, 6, 3, 'cao', 'gato', False]

In [47]:
tuple1

(3, 5, 6, 3, 'cao', 'gato', False)

In [48]:
set1

{3, 5, 6, False, 'cao', 'gato'}

In [49]:
dict1

{'comidas_favoritas': ['pizza', 'fruta', 'lasanha'],
 'idade': 9,
 'nome': 'Andre'}

As strings, listas, tuplos e dicionários podem ser acedidos utilizando parentesis retos.

No caso das strings, listas e tuplos a referência aos elementos pode ser feita utilizando indices do tipo inteiro cuja primeira posicao é 0.

Estas sequencias podem ser referenciadas com valores negativos

Estas sequencias suportam as operações de acesso a um intervalo de valores (slicing)

Nos exercicios seguintes vou começar a utilizar a instrução print para conseguir fazer o output de mais de um valor.

In [56]:
#Aceder ao primeiro elemento da lista
print(list1[0])
print(tuple1[0])

3
3

In [53]:
#No caso do set dá erro. Comente:
print(set1[0])

TypeError: 'set' object does not support indexing

In [57]:
#Aceder ao ultimo elemento do tuplo
print(tuple1[-1])
#Aceder a um intervalo de elementos
print(str1[3:8])
print(tuple1[:-3])
print(list1[4:])
# Aceder a um elemento do dicionario
print(dict1['nome'])
print(dict1['comidas_favoritas'][2])

False
 dia
(3, 5, 6, 3)
['cao', 'gato', False]
Andre
lasanha

## Métodos built-in
De seguida apresentam-se algumas funções que estão disponíveis no Python sem ser necessário utilizar um biblioteca específica (built-in functions): type(obj), len(obj), sorted(obj), sum(obj), min(obj), max(obj) e abs(numero).

In [59]:
print("Tamanho da lista: " , len(list1))
print("Lista ordenada:" , sorted([10, 1, 3.6, 7, 5, 2, -3]))
print("Soma: " , sum([10, 1, 3.6, 7, 5, 2, -3]))
print("Minimo: " , min(['g', 'z', 'a', 'y']))

Tamanho da lista:  7
Lista ordenada: [-3, 1, 2, 3.6, 5, 7, 10]
Soma:  25.6
Minimo:  a

## Métodos associados às strings
De seguida apresentam-se algumas funções associadas às strings: .capitalize(), .upper(), .lower(), .count(substring), .startswith(substring), .endswith(substring) e .replace(old, new).

In [61]:
str1 = 'iSTo e uma sTriNg'
print('Capitalize: ' , str1.capitalize())
print('Upper: ' , str1.upper())
print('Lower:' , str1.lower())
print('Count: ' , str1.count('i'))
print('Count a partir da posicao 7: ' , str1.count('i',7))
print('Count palavra uma: ' , str1.count('uma'))
print('Startswith: ' , str1.startswith('this'))
print('Replace: ' , str1.replace('uma', 'XYZ'))

Capitalize:  Isto e uma string
Upper:  ISTO E UMA STRING
Lower: isto e uma string
Count:  2
Count a partir da posicao 7:  1
Count palavra uma:  1
Startswith:  False
Replace:  iSTo e XYZ sTriNg

## Métodos associados às listas

* .append(item), adicionar um elemento à lista
* .extend([item1, item2, ...]), adicionar múltiplos elementos à lista
* .remove(item), remover um elemento da lista
* .pop(), remover e devolver o ultimo elemento da lista
* .pop(index), remover e devolver um elemento da lista numa deerminada posicao

In [62]:
list1 = [3,4,5,6]
list1.append(7)
print(list1)

[3, 4, 5, 6, 7]

## Métodos associados a conjuntos

* .add(item), adicionar um elemento ao conjunto
* .update([item1, item2, ...]), adcionar multiplos elementos ao conjunto
* .update(set2, set3, ...), adicionar elementos de outros conjuntos
* .remove(item), remover um elemento do conjunto
* .pop(), remover e retornar um elemento do conjunto
* .difference(set2), retirar elementos do conjunto que não estão no outro
* .intersection(set2), devolver elementos dos dois conjuntos
* .union(set2), devolver elementos que estão num ou noutro conjunto
* .symmetric_difference(set2), devolver elementos que só estão num conjunto
* .issuperset(set2), se set contem os elementos do conjunto set2
* .issubset(set2), se set é um subconjunto do set2

In [66]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {6,7,8}
print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.symmetric_difference(set2))
print(set2.issuperset(set3))
print(set3.issubset(set2))

{1, 2, 3}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
True
True

## Métodos associados a dicionários

* .update([(key1, val1), (key2, val2), ...]), adicionar multiplos valores ao dicionário
* .update(dict2), adicionar todos os elementos do dicionário dict2 ao dicionário
* .pop(key), remover e devolver o valor relativo à chave key
* .pop(key, default_val), o mesmo do anterior, mas com a definição de um valor por omissão
* .get(key), devolver um valor do dicionário com uma determinada chave
* .get(key, default_val), o mesmo do anterior, mas com a definição de um valor por omissão
* .keys(), devolver uma lista com as chaves do dicionário
* .values(), devolver uma lista com os valores do dicionário
* .items(), devolver uma lista de tuplos com as chaves evalores do dicionário

In [68]:
dict1 = {'a':'ana','b':'banana','c':'coimbra','d':'dado'}
dict1.update({'m':'miguel'})
print(dict1)
print(dict1.pop('b'))
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1)

{'a': 'ana', 'b': 'banana', 'c': 'coimbra', 'd': 'dado', 'm': 'miguel'}
banana
dict_keys(['a', 'c', 'd', 'm'])
dict_values(['ana', 'coimbra', 'dado', 'miguel'])
dict_items([('a', 'ana'), ('c', 'coimbra'), ('d', 'dado'), ('m', 'miguel')])
{'a': 'ana', 'c': 'coimbra', 'd': 'dado', 'm': 'miguel'}

## Imprimir dados (output)

Para imprimir dados (outputs) existem vários métodos. Eles serãa obordados quando forem necessários. 

Até agora temos utilizado o output direto do resultado de uma conta e a função print quando necessitamos de fazer mais de um output.

## Solicitar dados ao utilizador (input)

Nos trabalhos associados ao jupyer notebooks não é muito comum pedir input de dados através do teclado mas pode existir essa necessidade. Para tal utilize a função input

In [69]:
a = input()
print(a)

antonio

## Estruturas de controlo de fluxo

### Decisões (if, if...else)

As instruções de decisão permitem tomar decisões com base em comparações.

Existem três tipos de estrutura:
* ```python
if condicao:
    code block```

* ```python
if condicao:
    instrucoes
else:
    instrucoes```

* ```python
if condicao:  
    instrucoes
elif condicao:
    instrucoes
else:
    instrucoes```

No Python não existem chavetas para efetuar a identificação de blocos de código. Tal é feito recorrendo à identação, pelo que é muito importante que mesma seja feita de forma correta.

Apresentam-se de seguida alguns exemplos de instruções de decisão.

In [81]:
x = 12
if x > 10:
    print("Ola")

Ola

In [77]:
x = 12
if 10 < x < 12:
    print("Numero superior a 10 ou inferior a 12.")
else:
    print("Numero inferior ou superior a 11")

Numero inferior ou superior a 11

In [80]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x==y")

x<y

### Repetições ou ciclos (for e while)

As instruções de repetição permitem repetir uma ou mais instruções até uma determinada condição se verificar.

As instruções que se utilizam para fazer repetições são:

* ```python
for variavel in qualquercoisa:
    instrucoes```
    
* ```python
while condicao:  
    instrucoes```
    
No caso do for, dependendo da situação em causa, é necessário dar o intervalo de valores que se quer percorrer. Para tal utiliza-se o método range() com diferentes chmadas:
* range(n) -> 0, 1, ..., n-1
* range(n,m) -> m, m+1, ..., m+n-1
* range(n,m,s) -> m, m+s, m+2s, ..., m + ((n-m-1)//s) * s

Apresentam-se de seguida alguns exemplos.

As isntruções continue e break permitem interromper a normal execução do ciclo. A primeira salta para a próxima iteração, já a segunda interrompe a execução do ciclo.

In [82]:
for ch in 'abc':
    print(ch)

a
b
c

In [84]:
total = 0
for i in range(5):
    total += i
total

10

In [86]:
total = 0
for i,j in [(1,2),(3,1)]:
    total += i**j
print("Total =",total)

Total = 4

In [88]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    print(list1)

total=0
for list1 in list_of_lists:
    for x in list1:
        total = total+x

print("Total: ",total)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Total:  45

In [89]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Adeus')

1
4
Adeus

In [ ]:
for i in range(100):
    print(i)
    if i>=7:
        break

In [ ]:
for i in range(10):
    if i>4:
        print("Ignorado",i)
        continue
    # this statement is not reach if i > 4
    print("Executado",i)

### Exercicios sobre decisões e repetições

1. Crie um programa que verifique se um número é par;
2. Crie um programa que verigique se um número é primo;
3. Crie um programa que gere os primeiros 50 números primos;
4. Crie um programa que apresente a soma, número de lementos, média, mínimo e máximo de uma lista de inteiros;
5. Crie um programa que calcule o n termo da série S = 1/1 + 2/3 + 3/5 + 4/7 + ... + n/m.

## Métodos (funções e procedimentos)

Os métodos são pedaços de código a que se dá um nome e que permitem executar um conjunto de instruções sempre que são chamados.

A sintaxe é:

```python
def nomedometodo(arg1, arg2,... argN):
    ''' Document String'''
    instrucoes
    return <valores>```
    
    
Permitem decompor o programa em partes mais pequenas.

In [90]:
#Exemplo 1 - uma função que diz bom dia a uma pessoa
def bomdia(nome):
    print("Bom dia " , nome)
bomdia('Antonio')

Bom dia  Antonio

In [91]:
#Exemplo 2 - uma função que devolve a soma de dois valores
def soma(num1,num2):
    return num1 + num2
print(soma(2,5))

7

In [94]:
#A devolução de múltiplos valores é feita através de um tuplo
#Exemplo 3
list1 = [10,50,30,12,6,8,100]

def mmpu(lista):
    maximo = max(lista)
    minimo = min(lista)
    primeiro = lista[0]
    ultimo = lista[-1]
    return maximo,minimo,primeiro,ultimo

print(mmpu(list1))

a,b,c,d = mmpu(list1)
print(' a =',a,' b =',b,' c =',c,' d =',d)

(100, 6, 10, 100)
 a = 100  b = 6  c = 10  d = 100

## Lambda Functions

São pequenas funções sem nome para a qexecução de pequenas expressões. 

São úteis quando se trabalha com listas.

In [95]:
z = lambda x: x * x
print(z(8))

64

In [97]:
# Filtrar os numeros pares de uma lista de valores
list1 = [1, 5, 4, 6, 8, 11, 3, 12]
list2 = list(filter(lambda x: (x%2 == 0) , list1))
print(list2)

[4, 6, 8, 12]

Neste tutorial não iremos abordar o conceito de classes pois não são muito utilizadas neste contexto.